*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body{
  background-color: black;
  color: white;
}

.flex{
  display: flex;
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
}

/* Estilo do Header*/

header{
  width: 100%;
  padding: 40px 0px;
}

header .interface{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img{
  max-width: 100px;
}

header .pesqui-perfil img{
  max-width: 40px;
  margin: 10px;
}

header .menu-desktop nav ul{
  list-style-type: none;
}

header .menu-desktop nav ul li{
  display: inline-block;
  margin: 0 40px;
}

header .menu-desktop nav ul li a{
  text-decoration: none;
  color: rgb(177, 177, 177);
  display: inline-block;
  transition: .2s;
}

header .pesqui-perfil{
  display: flex;
  align-items: center;
}

header .pesqui-perfil input{
  width: 150px;
  height: 30px;
  margin: 20px;
  background-color: transparent;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 35px;
  padding: 10px;
}

.menu-desktop nav a:hover{
  color: rgb(230, 230, 230);
  transform: scale(1.05);
}

.topo-do-site .interface .flex .img-topo-site img{
  max-width: 550px;
}

section.topo-do-site{
  padding: 40px 4%;
}

section.topo-do-site .flex{
  align-items: center;
  justify-content: center;
}

span{
  color: #2CA4BF; /*#0D448C*/
}

section.topo-do-site h1{
  font-size: 50px;
  padding-bottom: 15px;
}

section.topo-do-site p{
  padding-bottom: 15px;
  font-size: 20px;
}