*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body{
  background-color: black;
  color: white;
}

.flex{
  display: flex;
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
}

/* Estilo do Header*/

header{
  width: 100%;
  padding: 40px 0px;
}

header .interface{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img{
  max-width: 100px;
}

header .pesqui-perfil img{
  max-width: 40px;
  margin: 10px;
}

header .menu-desktop nav ul{
  list-style-type: none;
}

header .menu-desktop nav ul li{
  display: inline-block;
  margin: 0 40px;
}

header .menu-desktop nav ul li a{
  text-decoration: none;
  color: rgb(177, 177, 177);
  display: inline-block;
  transition: .2s;
}

header .pesqui-perfil{
  display: flex;
  align-items: center;
}

header .pesqui-perfil input{
  width: 150px;
  height: 30px;
  margin: 20px;
  background-color: transparent;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 35px;
  padding: 10px;
  color: white;
}

.menu-desktop nav a:hover{
  color: rgb(230, 230, 230);
  transform: scale(1.05);
  text-decoration: underline;
}

.topo-do-site .interface .flex .img-topo-site img{
  max-width: 550px;
}

section.topo-do-site{
  padding: 40px 4%;
}

section.topo-do-site .flex{
  align-items: center;
  justify-content: center;
  gap: 100px;
}

span{
  color: #2CA4BF; /*#0D448C*/
}

section.topo-do-site h1{
  font-size: 50px;
  padding-bottom: 15px;
}

section.topo-do-site p{
  padding-bottom: 15px;
  font-size: 20px;
}

section.topo-do-site .flex .txt-topo-site #comprar{
  margin-right: 30px;
  width: 180px;
  height: 50px;
  border-radius: 40px;
  border: none;
  background-color: #2CA4BF;
  box-shadow: 0px 0px 10px #2CA4BF;
  cursor: pointer;
  transition: .5s;
  font-size: 16px;
}

section.topo-do-site .flex .txt-topo-site #detalhe{
  margin-right: 30px;
  width: 180px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  transition: .5s;
  font-size: 16px;
  color: white;
}

section.topo-do-site .flex .txt-topo-site button{
  margin-top: 15px;
}

section.topo-do-site .flex .txt-topo-site #comprar:hover, section.final-do-site .interface .flex .card a button:hover{
  background-color: transparent;
  color: white;
  box-shadow: none;
  border: 1px solid white;
}

section.topo-do-site .flex .txt-topo-site #detalhe:hover{
  background-color: #2CA4BF;
  box-shadow: 0px 0px 10px #2CA4BF;
  color: white;
  border: none;
  color: black;
}

section.meio-do-site{
  margin-top: 30px;
}

section.meio-do-site .flex{
  align-items: center;
  justify-content: center;
}

section.meio-do-site .flex .produto{
  margin-left: 45px;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
  box-shadow: 2px 2px 2px rgb(41, 41, 41);
}

section.meio-do-site .flex .produto img{
  max-width: 300px;
  box-shadow: 0px 0px 5px rgb(65, 65, 65);
}

section.meio-do-site .flex .produto p{
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

section.meio-do-site .flex a{
  text-decoration: none;
  color: white;
}

section.meio-do-site .flex .produto .estrela{
  color: #2CA4BF;
}

section.meio-do-site .flex .produto:hover{
  transform: translateY(-10px);
}

section.penultimo-do-site{
  margin-top: 100px;
  background-color: rgb(22, 22, 22);
}

section.penultimo-do-site .interface .flex img{
  max-width: 400px;
}

section.penultimo-do-site .interface .flex{
  align-items: center;
  justify-content: center;
}

section.penultimo-do-site .interface .flex .penultimo-txt-site h1{
  font-size: 40px;
  padding-bottom: 10px;
  
}

section.penultimo-do-site .interface .flex .penultimo-txt-site p{
  font-size: 20px;
  padding-top: 10px;
}

section.final-do-site{
  margin-top: 100px;
}

section.final-do-site .interface .flex{
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}

section.final-do-site .interface .flex .card a{
  text-decoration: none;
  transform-style: preserve-3d;
}

section.final-do-site .interface .flex .card h2{
  transform-style: preserve-3d;
}

section.final-do-site .interface .flex .card a button{
  padding: 10px 40px;
  background-color: #2CA4BF;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #2CA4BF;
  color: black;
  font-size: 20px;
  cursor: pointer;
  transition: .2s;
  transform-style: preserve-3d;
}

section.final-do-site .interface .flex .card p{
  font-size: 25px;
  font-weight: 500;
}

section.final-do-site .interface .flex .card{
  width: 300px;
  height: 450px;
  padding: 20px;
  margin: 40px;

  border-radius: 30px;

  transform-style: preserve-3d;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  background-color: rgb(30, 30, 30);
}

section.final-do-site .interface .flex .card img.tenis{
  max-width: 250px;
  transform-style: preserve-3d;
  transition: .5s;
}

section.final-do-site .interface .flex .card:hover img.tenis,section.final-do-site .interface .flex .card:hover a button {
  transform: translate(0,0,100px);
  transform-style: preserve-3d;
}

footer{
  width: 100%;
  text-align: center;
  padding: 30px;
  margin-top: 100px;
}

footer .top-footer button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
  transition: .5s;
}

footer .top-footer button:hover{
  background-color: #2CA4BF;
  color: black;
}

footer .middle-footer{
  margin: 20px 0;
}


footer .middle-footer a{
  color: white;
  margin: 0 15px;
}

footer .bottom-footer{
  border-top: 2px solid white;
}

footer .bottom-footer p{
  margin-top: 10px;
  color: white;
}